body {
background-color: whitesmoke;
}
h1{
  color: dodgerblue;
  font-family: "Times New Roman";
  margin-top: 50px;
  font-size: xx-large;
  font-weight: bold;
}
h2{
  font-size: 70px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: black;
}
h3{
  color: black;
  font-family: "Times New Roman";
  font-size: medium;
}

p{
  font-family: "Times New Roman";
  font-size: 35px;
}
.left {
  float: left;
  padding: 0 5px 5px 0;
}

.container{
  max-width: 2500px;
  margin: 40px auto;
  padding: 32px;
  background:deepskyblue;
  box-shadow: 0 10px 10px rgba(2,1,2,0.1);
  height: auto;

}


