body {
background-color: whitesmoke;
}
h1{
  color: dodgerblue;
  font-family: "Times New Roman";
  margin-top: 50px;
  font-size: xx-large;
  font-weight: bold;
}
h2{
  font-size: 70px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: black;
}
h3{
  color: black;
  font-family: "Times New Roman";
  font-size: medium;
}

p{
  font-family: "Times New Roman";
  font-size: 35px;
}
.left {
  float: left;
  padding: 0 5px 5px 0;
}

.container{
  max-width: 2500px;
  margin: 40px auto;
  padding: 32px;
  background:deepskyblue;
  box-shadow: 0 10px 10px rgba(2,1,2,0.1);
  height: auto;

}

//signup page
.signup{
    width: 500px;
    height: 500px;
    margin-top: 200px;
    
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.signup input[type="email"], input[type="password"]{
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 6px;
    box-sizing: border-box;
    color: grey;
}
.signup input[type="submit"], .button{
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    background: #33DCFF;
    color: white;
    border-radius: 6px;
    font-size: 17px;

    margin-top: 30px;

}

.signup p{
    margin-top: 20px;
    color: grey;
}
.p  {
   text-align: center;
   color: black; 
   font-weight: bold;
   

}
.signup a{
    text-decoration: none;
    font-weight: normal;

}


